.popular-anime {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.popular-anime a {
  height: 500px;
  border-radius: 7px;
}
.popular-anime a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 8px solid var(--primeryText);
}
.container {
  background-color: var(--primeryColor);
  height: 80vh, fit-content;
}

.container > h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 3rem;
}

.anime-card {
  margin-bottom: 20px;
}
