.popular-container {
  display: flex;
}
.popular-anime {
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.popular-anime a {
  height: 500px;
  border-radius: 7px;
  border: 8px solid white;
}
.popular-anime a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
