.anime-info-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 18rem;
}

.details {
  background-color: var(--primeryText);
  border-radius: 20px;
  padding: 2rem;
  border: 5px solid #e5e7eb;
}
.back-link {
  font-size: 2rem;
  text-align: left;
  text-decoration: underline;
  color: #454e56;
}
.back-link:hover {
  background-color: #454e56;
  color: white;
  transition: 0.5sec;
}
