.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.anime-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.anime-details p {
  font-size: 2rem;
  font-weight: 600;
}
img {
  border-radius: 7px;
}
