.header {
  width: 100%;
  height: 10vh;
  background-color: #444341;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primeryText);
  font-size: 2rem;
}

.header .anime-search input {
  outline: none;
  border: none;
  width: 200px;
  height: 45px;
  font-size: 1.3rem;
  padding: 0 1rem;
}

.search-btn {
  background-color: white;
  border: 3px solid #03e6e6;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  color: #03e6e6;
  font-weight: 600;
  border-radius: 7px;
  padding: 1.3rem;
  margin-left: 1rem;
}

.search-btn:hover {
  border: 3px solid white;
  color: white;
  background-color: #03e6e6;
  transition: 0.5s;
}
