@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
:root {
  --primeryText: white;
  --primeryColor: #03e6e6;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

.container {
  background-color: var(--primeryColor);
  height: 80vh, fit-content;
}

iframe {
  outline: none;
  border: 5px solid #e5e7eb;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--primeryText);
}

.flex-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--primeryColor);
}

.btn {
  background-color: var(--primeryText);
  border: 3px solid var(--primeryColor);
  outline: none;
  font-size: 1.5rem;
  color: var(--primeryColor);
  font-weight: 600;
  border-radius: 7px;
  padding: 0.7rem;
  font-weight: 600;
}

.btn:hover {
  border: 3px solid var(--primeryText);
  color: var(--primeryText);
  background-color: var(--primeryColor);
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  iframe {
    width: 400px;
    height: 400px;
  }
  .footer {
    font-size: 0.7rem;
  }

  .btn {
    background-color: var(--primeryText);
    border: 3px solid var(--primeryColor);
    outline: none;
    font-size: 1rem;
    color: var(--primeryColor);
    font-weight: 600;
    border-radius: 7px;
    margin: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 601px) {
  iframe {
    width: 500px;
    height: 500px;
  }
  .footer {
    font-size: 0.9rem;
  }
}
