@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
:root {
  --primeryText: #ffffff;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fcfaf5;
}

.container {
  background-color: #03e6e6;
  height: 80vh, fit-content;
}
